<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 폰트 -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/ballcap_detail.css">

  <title>Typeservice Web Cap</title>
</head>
<body>
  <!-- HEADER -->
  <header>
    <div class="logo"><a href="../templates/index.html">MJ Mall</a></div>
    <div class="icons">
      <span class="material-icons login">login</span>
      <span class="material-icons mypage">person_outline</span>
      <span class="material-icons shopping-bag">shopping_bag</span>
    </div>
  </header>

  <div class="main">
    <div class="main-picture"><img src="../static/images/ballcap.jpg" alt="ballcap"></div>
    <div class="description">
      <div class="title">
        <h3>Typeservice Web Cap [16 Colors]</h3>
      </div>
      <div class="price-group">
        <p class="price">39,000원</p>
        <a href="javascript:void(0)" class="coupon">
          <p>쿠폰 받기</p>
          <span class="material-icons">file_download</span>
        </a>
      </div>
      <div class="item-option">
        <h3>상품 정보</h3>
        <ul class="colors">
          <li>검정색</li>
          <li>빨간색</li>
          <li>파란색</li>
        </ul>
      </div>
      <ul class="delivery">
        <h3>배송 정보</h3>
        <li class="delivery__info">
          <div class="info__title">배송비</div>
          <div class="info__content">
            <p>해당 브랜드 제품은 무료배송됩니다.</p><p>제주도를 포함한 도서/산간지역은 추가배송비 3,500원</p>
          </div>
        </li>
        <li class="delivery__info">
          <div class="info__title">배송예정</div>
          <div class="info__content">2일 이내 출고 (주말,공휴일제외)</div>
        </li>
      </ul>
      <div class="purchase-group">
        <a href="javascript:void(0)" class="shopping-bag">장바구니 담기</a>
        <a href="javascript:void(0)" class="purchase">바로 구매하기</a>
      </div>
    </div>
   </div>
</body>
</html>