<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- 폰트 -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/common.css">
  <title>MJ Mall</title>
</head>
<body>
  <header>
    <div class="logo"><a href="../templates/index.html">MJ Mall</a></div>
    <div class="icons">
      <span class="material-icons login">login</span>
      <span class="material-icons mypage">person_outline</span>
      <span class="material-icons shopping-bag">shopping_bag</span>
    </div>
  </header>
  <ul class="items">
    <li>
      <a href="ballcap_detail.html" class="item__picture"><img src="../static/images/ballcap.jpg" alt="ballcap"></a>
      <div class="item__brand"><a href="javascript:void(0)">타입서비스</a></div>
      <div class="item__name"><a href="ballcap_detail.html">Typeservice Web Cap[16 Colors]</a></div>
    </li>
    <li>
      <a href="ecobag_detail.html" class="item__picture"><img src="../static/images/socks.jpg" alt="ecobag"></a>
      <div class="item__brand"><a href="javascript:void(0)">일오공칠</a></div>
      <div class="item__name"><a href="ballcap_detail.html">[5PACK] 1507 유니섹스 컬러 트라우져 삭스</a></div>
    </li>
  </ul>
</body>
</html>